@{
    ViewBag.Title = "SignIn";
}
@section header{

}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            @Html.Partial("quickSignin")
        </div>
    </div>
</div>
