@model ESRGC.DLLR.EARN.Domain.Model.Partnership

@{
    ViewBag.Title = "Edit";
}

<a title="Delete this partnership" href="#" class="pull-right text-danger">
    <i class="fa fa-times-circle"></i>&nbsp;Delete this partnership
</a>
