<li class="divider"></li>
<li><a href="@Url.Action("Index", "Dashboard")" title="Admin only"><i class="fa fa-lock"></i>&nbsp;Dashboard</a></li>
@*<li><a href="@Url.Action("EmailAnnounce", "Communication")" title="Admin only"><i class="fa fa-lock"></i>&nbsp;Announcement</a></li>*@
<li><a href="@Url.Action("Index", "Admin")" title="Admin only"><i class="fa fa-lock"></i>&nbsp;Administrator</a></li>
<li class="divider"></li>
