@{
    ViewBag.Title = "Cookie Not Enabled";
    ViewBag.Header = "Cookies are not enabled";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="fa fa-times-circle text-danger"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="alert alert-warning">
                <h4>Cookies are not enabled</h4>
                <p>
                    This web site uses cookies to track your account information.
                    If you are experiencing problems with signing in to the site,
                    please enable cookies in your browser before signing in. Note 
                    that you also need to allow cookies from third party domain (Safari users). 
                    <a target="_blank" href="http://www.dllr.maryland.gov/aboutdllr/cookies.shtml">Click here</a>
                    for instructions on how to enable cookies in your browser
                </p>
                <p>
                    <strong>Tips!</strong>
                    If you can not change your browser settings due to your network policies or 
                    local policies to allow third party cookies, please use this link 
                    to access the web site directly
                    <a href="https://esrgc1.salisbury.edu/dllr/earn">https://esrgc1.salisbury.edu/dllr/earn</a>
                </p>
                <br />
                <a class="btn btn-default" href="@Url.Action("Index", "Home")">Back to Home</a>
            </div>
        </div>
    </div>
</div>
