@{
    ViewBag.Title = "Home";
    ViewBag.showSignin = true;
}

@section scripts {
    <script type="text/javascript">
        var startup = function () {
            $(document).on('click', '#agreeTDChbox', function () {
                if ($(this).is(':checked'))
                    $('#proceedBtn').removeAttr('disabled');
                else
                    $('#proceedBtn').attr('disabled', 'disabled');
            });
            $(document).on('click', '#proceedBtn', function () {
                $('form#quickSignupForm').submit();
            });
            $(document).on('keypress', 'form#quickSignupForm', function (e) {
                if (e.keyCode == 13) {
                    $('#agreeToSignup').modal('show');
                }
            });
        };
    </script>
}

@section header {
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h2>EARN MD CONNECT</h2>
                    <h4>Industry-led Partnerships<br />
                        <small>Bridging Maryland’s Skills Gap, Driving Growth</small>
                    </h4>
                    <p>
                        <a class="btn btn-lg btn-primary" target="_blank" href="http://www.dllr.maryland.gov/earn">
                            <i class="fa fa-external-link"></i>&nbsp;Learn more
                        </a>
                        @* @if (!Request.IsAuthenticated) {
                            <a class="btn btn-lg btn-success" href="@Url.Action("SignUp", "Account")">Become a member <i class="fa fa-edit"></i></a>
                        }*@
                    </p>
                </div>
                @if (!Request.IsAuthenticated) {
                    <div class="col-sm-4 col-xs-12">
                        @Html.Partial("quickSignup")
                    </div>
                }
                else {

                }
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="transparent-placeholder-panel">
                        <h3 class="text-info">Promote</h3>
                        <div>
                            <p>&nbsp;&nbsp;Create a profile...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2">
                    <div class="transparent-placeholder-panel">
                        <h3 class="text-info">Partner</h3>
                        <div>
                            <p>&nbsp;&nbsp;Identify relationships...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-offset-4">
                    <div class="transparent-placeholder-panel">
                        <h3 class="text-info">Progress</h3>
                        <div>
                            <p>&nbsp;&nbsp;Build opportunities...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-1">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-pane-heading">About EARN MD CONNECT</div>
                <div>
                    <p>
                        <strong>EARN MD CONNECT</strong> is dedicated to connecting individuals and organizations seeking to partner through the
                        <a href="http://www.dllr.maryland.gov/earn/">EARN Maryland Program</a>.
                    </p>
                    <label>Organizations committed to bridging Maryland’s skills gap are encouraged to participate:</label>
                    <ul>
                        <li>Employers</li>
                        <li>Industry Associations</li>
                        <li>Nonprofits and Community-Based Organizations</li>
                        <li>Institutions of Higher Education</li>
                        <li>Local Workforce Boards</li>
                        <li>Local government</li>
                        <li>Local and regional economic development entities</li>
                        <li>Labor Unions</li>
                        <li>Philanthropic organizations</li>
                        <li>K-12 programs</li>
                        <li>Other Training Providers</li>
                    </ul>
                </div>
            </div>
            <div class="transparent-placeholder-panel">
                <div class="placeholder-pane-heading">Join Us</div>
                <div>
                    <p>
                        Sign up. Create a profile. Members can search and connect with other EARN MD CONNECT users to form Strategic Industry Partnerships. 
                        Promote your organization’s interest in joining a Partnership. Established Partnerships can use this site to share ideas, 
                        best practices and challenges. EARN MD CONNECT: your one stop for building Strategic Industry Partnerships.
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-sm-6">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-pane-heading">Latest News</div>
                <p>Content to be added</p>
                <p> 
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-pane-heading">Newest Members</div>
                <p>Content to be added</p>
                <p> 
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                </p>
            </div>
        </div>
    </div>*@
</div>

<!-- Modal -->
<div class="modal fade" id="agreeToSignup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("termTextPartial")
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="agreed" id="agreeTDChbox" />
                        <strong>I agree to the terms and conditions for "EARN MD CONNECT"</strong>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="proceedBtn" class="btn btn-primary btn-sm" type="button" disabled>Proceed</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="termCondition" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("termTextPartial")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
