@{
    ViewBag.Title = "Home";
    ViewBag.showSignin = true;
}

@section scripts {

}

@section header {
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h2>The EARN Maryland Connect</h2>
                    <h4>
                        Industry lead partnerships, creating jobs<br />
                        <small>Bridging Maryland's skills gap</small>
                    </h4>
                    <p>
                        <a class="btn btn-lg btn-primary" target="_blank" href="http://www.dllr.maryland.gov/earn">Learn more <i class="icon-external-link"></i></a>
                       @* @if (!Request.IsAuthenticated) {
                            <a class="btn btn-lg btn-success" href="@Url.Action("SignUp", "Account")">Become a member <i class="icon-edit"></i></a>
                        }*@
                    </p>
                </div>
                @if (!Request.IsAuthenticated) {
                    <div class="col-sm-4 col-xs-12">
                        @Html.Partial("quickSignup")
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="well">
                <h5>Promote</h5>
                <p>
                fefkn felkj flekjlkviwho  vwhohw onkfkjvwoi vowen oivenwo
                dslkfj ineoi vcnoewi ncowein cwoenc owencioen kcwjoeicj 
                cwjoeicoweicj oicej wocie coei cwoie oqic wonciowenfafo
                fowei cvose soijf soiejfa'okfjalsdk fej iaofje 'soifj 
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="well">
                <h5>Partner</h5>
                <p>
                    fefkn felkj flekjlkviwho  vwhohw onkfkjvwoi vowen oivenwo
                dslkfj ineoi vcnoewi ncowein cwoenc owencioen kcwjoeicj 
                cwjoeicoweicj oicej wocie coei cwoie oqic wonciowenfafo
                fowei cvose soijf soiejfa'okfjalsdk fej iaofje 'soifj 
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="well">
                <h5>Progress</h5>
                <p>
                    fefkn felkj flekjlkviwho  vwhohw onkfkjvwoi vowen oivenwo
                dslkfj ineoi vcnoewi ncowein cwoenc owencioen kcwjoeicj 
                cwjoeicoweicj oicej wocie coei cwoie oqic wonciowenfafo
                fowei cvose soijf soiejfa'okfjalsdk fej iaofje 'soifj 
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="well">
                <h5>Column heading 4</h5>
                <p>
                    fefkn felkj flekjlkviwho  vwhohw onkfkjvwoi vowen oivenwo
                dslkfj ineoi vcnoewi ncowein cwoenc owencioen kcwjoeicj 
                cwjoeicoweicj oicej wocie coei cwoie oqic wonciowenfafo
                fowei cvose soijf soiejfa'okfjalsdk fej iaofje 'soifj 
                </p>
            </div>
        </div>
    </div>
</div>
