@{
    ViewBag.Title = "Home";
    ViewBag.showSignin = true;
}

@section scripts {

}

@section header {
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h2>EARN Maryland Connect</h2>
                    <h4>Industry-led partnerships, creating jobs<br />
                        <small>Bridging Maryland's skills gap</small>
                    </h4>
                    <p>
                        <a class="btn btn-lg btn-primary" target="_blank" href="http://www.dllr.maryland.gov/earn">
                            <i class="icon-external-link"></i>&nbsp;Learn more
                        </a>
                        @* @if (!Request.IsAuthenticated) {
                            <a class="btn btn-lg btn-success" href="@Url.Action("SignUp", "Account")">Become a member <i class="icon-edit"></i></a>
                        }*@
                    </p>
                </div>
                @if (!Request.IsAuthenticated) {
                    <div class="col-sm-4 col-xs-12">
                        @Html.Partial("quickSignup")
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-heading">About EARN</div>
                <div>
                    <p>
                        <strong>EARN Maryland Connect</strong> is dedicated to connecting individuals and organizations seeking to partner through the EARN Maryland Program. 
                    (<a href="http://www.dllr.maryland.gov/earn/">http://www.dllr.maryland.gov/earn/</a>)
                    </p>
                    <label>Organizations committed to bridging Maryland’s skills gap are encouraged to participate:</label>
                    <ul>
                        <li>Industry employers and associates </li>
                        <li>Higher education institutions</li>
                        <li>Non-profits</li>
                        <li>Community based organizations</li>
                        <li>Workforce investment boards </li>
                        <li>Local government</li>
                        <li>Labor unions</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-heading">Join Us</div>
                <div>
                    <p>
                        Sign up. Create a profile. Promote your organization’s contributions and/or what it hopes to take away. Members can search and connect with other EARN Maryland Connect users and form partnerships.
                        Established partnerships can use this site to share materials and documents relevant to the development and submission of an EARN plan grant.
                        EARN Maryland Connect, your one-stop for everything EARN!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-heading">Latest News</div>
                <p>Content to be added</p>
                <p> 
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="transparent-placeholder-panel">
                <div class="placeholder-heading">Newest Members</div>
                <p>Content to be added</p>
                <p> 
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                    phoi finad pthis fsin phoi banda blas qwuav apoihd
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="termCondition" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
                <p>
                    By clicking “Sign up for EARN,” you understand that the information you provide will 
                    be in the public domain and will be accessible to other EARN Maryland Connect users. 
                    The information you provide will only be used by the Maryland Department of Labor, Licensing, and Regulation
                     to facilitate the EARN program. The information within the EARN Maryland Connect system will not be distributed
                     or shared for any purpose other than facilitating the EARN program.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
