@{
    ViewBag.Title = "Home";
}

@section scripts {

}

@section header {
    <div class="jumbotron">
        <div class="container">
            <h1>App title</h1>
            <p>Description goes here</p>
            <p><a class="btn btn-lg btn-primary">Learn more</a></p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12"></div>
</div>

