@model ESRGC.DLLR.EARN.Domain.Model.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerificationEmail</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
