@using ActionMailer.Net.Mvc
@model ESRGC.DLLR.EARN.Domain.Model.Account

@{
    Layout = null;
}
<h4>Welcome to EARN MD CONNECT</h4>

<h5>Hello, thank you for signing up for EARN MD CONNECT.</h5>

<p>
    Please verify your email address (@Model.EmailAddress). 
    You will not be able to receive notifications from the 
    site until you do so. Please follow the link below to verify your email. If the link
    does not work you can copy and paste it to your browser. 
</p>

<p>
    @Url.AbsoluteAction("VerifyEmail", "Account", new { Model.AccountID, Model.VerificationCode })
</p>
<br />
<small>This is an automatic email notification. Please do not reply to this message. Contact EARN MD CONNECT if you have any question.</small>

