@using ActionMailer.Net.Mvc
@model ESRGC.DLLR.EARN.Domain.Model.Account

@{
    Layout = null;
}
<h4>Reset Account Password</h4>
<p>
    You have requested your account information. Please use this temporary password to sign in EARN MD CONNECT.
    After you sign in, you will be required to change your password.
    <br />
    Email address:  @Model.EmailAddress
    <br />
    Password: @Model.InitialPassword
</p>
<p>
    <a href="@Url.AbsoluteAction("SignIn ","Account")">Click here to sign in EARN MD CONNECT</a>
</p>
<i>
    If you did not initiate this request. Please <a href="mailto://earn.jobs@maryland.gov?cc=esrgc@salisbury.edu">contact EARN MD CONNECT</a> . 
</i>
<p>
    Thanks for your interest in EARN Maryland, and welcome to EARN MD CONNECT!<br />
    -	Team EARN Maryland
</p>
<small>
    This is an automatic email notification. Please do not reply to this message. 
    <a href="mailto://earn.jobs@maryland.gov?cc=esrgc@salisbury.edu">Contact EARN MD CONNECT</a> 
    if you have any question.
</small>

