<script type="text/template" id="participant">
  {[ 
    var cssClass = '';
    if(model.id == id)
      cssClass = 'active';    
  ]}

  <a href="#for/{{model.name}}/{{model.id}}" class="list-group-item {{cssClass}}">
    <small class="pull-right">{{model.lastMessageTime}}, {{model.lastMessageDate}}</small>
    <img class="img-thumbnail logo-image" src="{{model.logoUrl}}" alt="" />
    <p>
      <strong>{{ model.name }}</strong>
      <br />
      <small><i>{{ model.lastMessage }}</i></small>
    </p>
  </a>
</script>

<script type="text/template" id="message-board">
  <div class="message-container">
    <h4>
      {{ name }}
      <button class="btn btn-default btn-xs" title="Reload messages" id="refreshBtn"><i class="fa fa-refresh"></i></button>
    </h4>
    <hr />
    <div class="message-board" data-id="{{id}}">

      {[
        if(messages.length == 0){
      ]}
        <p class="text-center">Your message inbox is empty</p>
      {[  }
        _.each(messages, function(m){
          var adminMsgClass = '';
          var textTitle = '';
          var subTitleHtml = '';
          if(m.isAdminMessage){
            adminMsgClass = 'admin-message';
            textTitle = 'Announcement';
            subTitleHtml = [
              '<small class="label label-primary">Administration message</small>'
            ].join('');
          }
      ]}
        <div class="message {{adminMsgClass}}">
          <h5 class="text-info" title="{{textTitle}}">
            <a href="{{m.profileUrl}}"><strong>{{ m.senderName }}</strong></a>
            {{subTitleHtml}}
            <small class="pull-right">{{m.time }}, {{m.date}}</small>
          </h5>
          <p>{{m.message}}</p>
        </div>

      {[  
        });
      ]}
    </div>
  </div>
</script>

<script type="text/template" id="message-composer">
  <div class="message-composer">
    <form class="form-horizontal">
      <textarea class="form-control input-sm message-input-box" cols="20" id="new-message" name="new-message" placeholder="Type a message..."
        rows="2"></textarea>
      <input type="reset" class="btn btn-xs btn-default" value="Clear"/>
      <button type="button" class="btn btn-xs btn-default send-message-btn disabled">Send</button>
      <img src="@Url.Content("~/Client/images/ajax-loader-fb.gif")" alt="" class="loading-prompt"/>
    </form>
  </div>
</script>

