@media only print and (max-width: 1024px) and (max-height: 768px) {
    #page {
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #banner, #navTab, #navTab2, #leftSide, #footer, .imgGov, .imgFloat {
        display: none;
    }

    #container {
        width: 100%;
        text-align: left;
        left: 0px;
        margin: 0;
        background-color: #fff;
        padding: 0px;
    }

    #content a[href]:after {
        content: " (" attr(href) ") ";
    }

    #content {
        top: 0px;
        border: 0px;
        padding: 0px;
        font-size: 10pt;
        display: block;
        float: left;
    }

    a:link, a:visited {
        color: #000066;
        background-color: transparent;
        font-weight: bold;
        text-decoration: underline;
    }

    #ColumnMain, #ColumnRight,
    #Column800, #Column800a, #Column800b, #Column800c, #Column800d, #Column800e, #Column800f, #Column800g, #Column800h, #Column800i, #Column800j,
    #Column560, #Column560a, #Column560b, #Column560c, #Column560d, #Column560e, #Column560f, #Column560g, #Column560h, #Column560i, #Column560j,
    #Column470, #Column470a, #Column470b, #Column470c, #Column470d, #Column470e, #Column470f, #Column470g, #Column470h, #Column470i, #Column470j,
    #Column320, #Column320a, #Column320b, #Column320c, #Column320d, #Column320e, #Column320f, #Column320g, #Column320h, #Column320i, #Column320j,
    #Column275, #Column275a, #Column275b, #Column275c, #Column275d, #Column275e, #Column275f, #Column275g, #Column275h, #Column275i, #Column275j,
    #Column230, #Column230a, #Column230b, #Column230c, #Column230d, #Column230e, #Column230f, #Column230g, #Column230h, #Column230i, #Column230j,
    #Column180, #Column180a, #Column180b, #Column180c, #Column180d, #Column180e, #Column180f, #Column180g, #Column180h, #Column180i, #Column180j, {
        display: block;
        float: left;
        width: 600px;
    }

    #printFriendly {
        display: none !important;
    }

    #preview-message {
        display: none;
    }
}
