<u><strong>The Basics</strong></u>
<p>
    EARN MD CONNECT is a web portal that allows organizations interested in the EARN Maryland 
    Program to find potential Strategic Industry Partners. EARN MD CONNECT is, simply, a tool to 1) 
    facilitate the discovery of potential organizational partners with whom to form 
    Strategic Industry Partnerships (SIPs), and 2) a platform where emerging and established SIPs can communicate,
    share information, and be found by potential additional partners.
</p>
<p>
    Importantly, EARN MD CONNECT <i>is not a job search site for individual job seekers</i>.
    Rather, consistent with the EARN Maryland Program’s approach, strategies for reaching 
    and training potential employees will be developed and implemented by the SIPs formed under the Program, 
    and facilitated here on EARN MD CONNECT. For more information on the EARN Maryland Program, 
    please visit <a href="http://www.earn.maryland.gov" target="_blank">www.earn.maryland.gov</a>. 
</p>
<p>
    EARN MD CONNECT is designed to complement the overall EARN Maryland Program, and DLLR needs 
    your help in making this tool as useful as possible! By creating Organizational and Partnership 
    Profiles within EARN MD CONNECT, we will encourage the most efficient and effective use of 
    EARN Maryland funds for the benefit of employers and employees alike.
</p>
<u><strong>Who Should Use EARN MD CONNECT</strong></u>
<p>
    EARN MD CONNECT is <i>open to any organization interested in the EARN Maryland Program</i>,
    and is not limited to EARN Maryland Planning Grant Applicants. Participation in 
    EARN MD CONNECT is entirely optional, and interested parties are welcome to apply for
    EARN Maryland Grants whether they use EARN MD CONNECT or not. EARN MD CONNECT 
    is offered only as a tool to make it easier for parties to find and communicate with one another, 
    to find ideas for potential partners and partnership projects, and to share information.
</p>
<p>
    So whether you are already part of a Planning Grant Applicant Group or in an emerging 
    partnership with an eye toward applying for implementation funds in 2014 or just an 
    interested organization hoping to join an emerging partnership, in order to use this system
    your entity will need to create a Profile within EARN MD CONNECT.
    Just read the below to get started!
</p>
<u><strong>How it Works</strong></u>
<p>
    EARN MD CONNECT enables two complementary functions. First, users can create Organizational
    Profiles describing their function, focus, constituency, capacity, expertise, 
    industry sector, workforce interests, etc., and can then search for other organizations 
    across regions, based upon these and other factors. To get started, simply create an 
    account on the EARN MD CONNECT homepage, and follow the prompts.
    <i>
        (Be sure to verify your email address once you create an account so that you 
        receive notifications and partnership invites.)
    </i>
</p>
<p>
    Second, EARN MD CONNECT users can create Partnership Profiles for emerging and established SIPs.
    Partnership Profiles allow partners to easily communicate within the EARN MD CONNECT system, 
    and allow other users to discover and explore existing SIPs, contact the Partnership Profile’s Administrator, 
    and/or request to join the Partnership Profile on EARN MD CONNECT.
</p>
<p>
    Importantly, the user who creates a Partnership Profile will be that Profile’s Administrator, 
    and will become the only user able to invite and allow other users to join that Partnership Profile.
    Therefore, DLLR encourages emerging SIPs, especially Planning Grant Applicant Groups, 
    to agree upon the best person to serve as Administrator <i>before</i> creating a Partnership Profile.
</p>
<p>
    To create a Partnership Profile within EARN MD CONNECT, a user first needs to 
    have created an Organizational Profile. 
    Then, simply click on the “Partnerships” tab on your profile page or click on the Partnership
    button at the top of the screen, select “Create new partnership”, and follow the prompts.
</p>
<p>
    We hope that EARN MD CONNECT will prove to be a useful tool for you. We are eager for your help in 
    populating this site, a cornerstone of the EARN Maryland Program.
</p>
