@using ESRGC.DLLR.EARN.Domain.Model
@model Profile

<div class="dropdown">
    <a class="btn btn-primary btn-xs" href="#" class="dropdown-toggle" data-toggle="dropdown">Actions&nbsp;<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">Add as connection</a></li>
        <li><a href="#">Invite to partnership</a></li>
        <li><a href="#">View available partnerships</a></li>
    </ul>
</div>
