@using ESRGC.DLLR.EARN.Models
@model SignUpModel

<form id="quickSignupForm" class="quick-form" action="@Url.Action("SignUp", "Account")" method="post" role="form">
    <label>Not yet a member? Sign up below</label>
    @Html.TextBoxFor(x => x.Email,
        new {
            type = "email",
            @class = "form-control",
            placeholder = ModelMetadata.FromLambdaExpression<SignUpModel, string>(x => x.Email, ViewData).DisplayName
        })
    @Html.PasswordFor(x => x.Password,
        new {
            @class = "form-control",
            placeholder = ModelMetadata.FromLambdaExpression<SignUpModel, string>(x => x.Password, ViewData).DisplayName
        })
    @Html.PasswordFor(x => x.ConfirmPassword,
        new {
            @class = "form-control",
            placeholder = ModelMetadata.FromLambdaExpression<SignUpModel, string>(x => x.ConfirmPassword, ViewData).DisplayName
        })
    <button class="btn btn-lg btn-primary btn-block" type="button" data-toggle="modal" data-target="#agreeToSignup">
        <i class="fa fa-lock" title="Secured sign up"></i>&nbsp;Sign up
    </button>
    <p><small>By clicking "Sign up for EARN MD CONNECT", you agree to our <a href="#termCondition" data-toggle="modal">terms and conditions.</a></small></p>

</form>

