@using ESRGC.DLLR.EARN.Models
@model SignInModel
@Html.ValidationSummary()

<form class="quick-form" action="@Url.Action("SignIn", "Account")" method="post" role="form">
    <input type="text" name="Email" id="email" class="form-control" placeholder="Email address" autofocus="" />
    <input type="password" name="Password" id="password" class="form-control" placeholder="Password" />
    <label class="checkbox">
        @Html.CheckBoxFor(x => x.RememberMe)
        Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <span class="help-block"><a href="#"><small>Forgot your password?</small></a></span>

</form>
