@model ESRGC.DLLR.EARN.Domain.Model.Profile
<div id="socialNetworkLinks">
    <ul class="list-inline list-unstyled link-fa-container">
        @if (!string.IsNullOrEmpty(Model.Organization.FacebookLink)) { 
            <li><a target="_blank" href="@Model.Organization.FacebookLink.ToAbsoluteUrl("http://")" title="Facebook link"><i class="fa fa-lg fa-facebook"></i></a></li>
        }
        @if (!string.IsNullOrEmpty(Model.Organization.TwitterLink)) { 
            <li><a target="_blank" href="@Model.Organization.TwitterLink.ToAbsoluteUrl("http://")" title="Twitter link"><i class="fa fa-lg fa-twitter"></i></a></li>
        }
        @if (!string.IsNullOrEmpty(Model.Organization.LinkedInLink)) { 
            <li><a target="_blank" href="@Model.Organization.LinkedInLink.ToAbsoluteUrl("http://")" title="LinkedIn link"><i class="fa fa-lg fa-linkedin"></i></a></li>
        }
    </ul>
</div>

