@model ESRGC.DLLR.EARN.Domain.Model.Profile
<ul class="list-inline list-unstyled link-fa-container" id="socialNetworkLinks">
    <li></li>
    @if (Model.Organization.FacebookLink != "") { 
        <li><a target="_blank" href="http://@Model.Organization.FacebookLink" title="Facebook link"><i class="fa fa-lg fa-facebook"></i></a></li>
    }
    @if (Model.Organization.TwitterLink != "") { 
        <li><a target="_blank" href="http://@Model.Organization.TwitterLink" title="Twitter link"><i class="fa fa-lg fa-twitter"></i></a></li>
    }
    @if (Model.Organization.LinkedInLink != "") { 
        <li><a target="_blank" href="http://@Model.Organization.LinkedInLink" title="LinkedIn link"><i class="fa fa-lg fa-linkedin"></i></a></li>
    }
</ul>
