<h4><u>Disclaimer</u></h4>
<p>
    The Maryland Department of Labor, Licensing & Regulation’s (DLLR’s) EARN MD CONNECT Online System contains content submitted by users. 
    Neither the State of Maryland, nor any agency, officer, or employee of the State of Maryland endorses any content, viewpoints, products, 
    or services posted on this system and shall not be held liable for any losses caused by reliance on the accuracy, reliability, 
    or timelines of such information. Portions of such information may be incorrect or not current. Any person or entity 
    that relies on any information obtained from this system does so at their own risk.
</p>
<p>
    The EARN MD CONNECT Online System may contain links to other web sites. When you link to 
    another site and leave the EARN MD CONNECT Online System, DLLR’s Privacy Notice will not apply. 
    When you link to another website, you are subject to the privacy policy of that new site. 
    Neither the State of Maryland, nor any agency, officer, nor employee of the State of Maryland 
    endorses any content, viewpoints, products, or services linked from this system and shall not be held 
    liable for any losses caused by reliance on the accuracy, reliability, or timelines of such information. 
    Portions of such information may be incorrect or not current. Any person or entity that relies on any 
    information obtained from this system does so at their own risk.
</p>
<p>
    Reference on this website to any specific commercial products, processes, or services, or 
    the use of any trade, firm, or corporation name is for the information and convenience of 
    the public and does not constitute endorsement, recommendation, or favoring by the State of 
    Maryland, its employees, or its agents. DLLR encourages users to conduct their own research on 
    a particular individual, organization, or entity before entering into a partnership or other 
    commercial or transactional relationship.
</p>
<p>
    A user’s decision in selecting a partner or partners should be based on the user’s personal planning, 
    research and consultation. This site is intended to facilitate interaction, information-sharing, 
    dialogue, and collaboration between users, and to allow users to make informed decisions. 
    The information posted on this site (and the information linked electronically to this site) 
    should not be used as the sole information source for making a partnership decision.
</p>
<h4><u>Privacy Notice</u></h4>
<p>
    <strong>Information Collected and Stored Automatically</strong><br />
    When you browse this website, read pages, or download information, 
    anonymous information about your visit is gathered and stored for statistical purposes.<br />
    The following information, which does not identify you personally, is gathered:
</p>
<ul>
    <li>The internet domains (example: aol.com) and IP addresses of users;</li>
    <li>The type of browser and operating system used to access the site;</li>
    <li>The date and time of visits;</li>
    <li>The pages visited by users; and</li>
    <li>The address from which users link to the website.</li>
</ul>
<p>
    We use this statistical information to make this website more useful to visitors and to learn 
    about the number of visitors to our site and the types of social media our visitors use. 
    We do not track or record personally identifiable information about individuals or their visits.
</p>
<p>
    <strong>Security</strong><br />
    DLLR and the Salisbury University Eastern Shore Regional GIS Cooperative, as developers and
    managers of this website, take precautions to safeguard personal information that you provide
    to us, to maintain the integrity of our data, and to prevent unauthorized access to information
    maintained by us. This information should not be construed in any way as giving business, legal, 
    or other advice, or warranting as fail proof, the security of information provided by email through the this website.
</p>
<p>
    <strong>Cookies</strong><br />
    This website uses “temporary cookies” to track user navigation in order to make the 
    portal experience more useful. The “temporary cookie,” also called a session cookie, is stored in 
    temporary memory in the form of a text file on your computer and is erased after the browser session is ended. 
    No identifying user information is collected and stored on other computers anywhere. 
    We store no personal information based solely on your visit to our website.
</p>
<p>
    <strong>E-mail and User-to-User Communication</strong>
    <br />
    If you send us an e-mail, we use the information you send us to respond to your inquiry. 
    E-mail correspondence may become a public record. Likewise, User-to-User Communication within 
    this site (such as the Partnership Communication function) may become a public record. As a public record,
    your correspondence to DLLR and/or to other users could be disclosed to other parties upon their request 
    in accordance with the Maryland Public Information Act. DLLR therefore encourages users not to post 
    sensitive or proprietary information within this site.
</p>
<h4><u>Social Policy</u></h4>
<p>
    DLLR may periodically monitor communications made or posted within the EARN MD CONNECT website. 
    DLLR reserves the right to moderate and/or delete comments THAT:
</p>
<ul>
    <li>Appear to be spam or trolling the page</li>
    <li>Incite promote or encourage criminal activities</li>
    <li>Clearly off-topic</li>
    <li>Offensive comments that target or disparage any ethnic, racial or religious group</li>
    <li>Compromise the security, safety, or public health of the public</li>
    <li>Contain pornography, solicitation, defamatory, or sexually explicit material</li>
    <li>Engage in vulgar or abusive language, personal attacks of any kind, or offensive terms targeting individuals or groups</li>
    <li>Endorse or oppose political parties, candidates, or groups</li>
    <li>Violate copyright and fair use laws</li>
</ul>
<p>
    DLLR reserves the right to delete any comment, and/or ban any user, at any time and for any reason, 
    without limitation, including those who are repeat offenders of violating this policy.
</p>
<p>
    DLLR reserves the right to modify or change these guidelines without notice.
</p>
<p>
    If you have comments or other questions that are not answered here, 
    please <a href="mailto:earn.jobs@maryland.gov?subject=Contact EARN MD CONNECT">contact us</a>.
</p>
