.message-panel {
    min-height: 500px;
    max-height: 500px;
    margin-top: 10px;

    #message-control-panel, #message-area {
        position: relative;
        max-height: 500px;
        overflow-y: auto;
    }
}
