.placeholder-panel {
  position: relative;
  padding: 10px;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.transparent-placeholder-panel {
  padding: 10px;
}
.panel-action-default {
  margin: 5px 0 0 0;
  padding: 5px 0;
}
.panel-action-right {
  margin: 5px 0 0 0;
  padding: 5px 0;
  text-align: right;
}
.panel-action-left {
  margin: 5px 0 0 0;
  padding: 5px 0;
  text-align: left;
}
.panel-action-center {
  margin: 5px 0 0 0;
  padding: 5px 0;
  text-align: center;
}
.placeholder-heading {
  padding: 5px;
  margin-bottom: 8px;
  /*margin-left: -10px;*/

  /*margin-right: -10px;*/

  background: #3d4241;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  /*border: 1px solid @border-color;*/

  border-radius: 5px;
}
.list-container > ul > li {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}
.footer {
  border-top: 1px solid #dddddd;
  position: relative;
  background: #f6f6f6;
}
.footer > .container {
  border-top: 1px solid #dddddd;
  padding: 20px 15px 0 15px;
}
.post {
  margin: 0;
  padding: 12px;
  border: 1px solid #dee4e2;
  /*text-shadow: 1px 1px 1px #E1E1E1;*/

  background: #FFFFFF;
  position: relative;
  border-radius: 5px;
}
.post > p {
  margin: 10px 0;
}
.post h5 {
  margin-top: 0;
}
.inline-container > .list-container {
  margin: 0 5px 0 0;
}
.inline-container > div {
  display: inline-block;
  float: left;
}
.clear {
  clear: both;
}
.upload-container {
  width: auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
}
.file-input {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  opacity: 0;
  height: 34px;
}
/*Panel*/
.window-panel {
  min-height: 150px;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition: height 0.35s ease, border .35s ease;
  -moz-transition: height 0.35s ease, border .35s ease;
  -o-transition: height 0.35s ease, border .35s ease;
  transition: height 0.35s ease, border .35s ease;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.window-panel .in {
  border: 1px solid #eeeeee;
}
.window-panel .label-close {
  color: #000000;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
  filter: alpha(opacity=40);
  border-left: 1px solid white;
  padding-left: 5px;
  margin-left: 5px;
}
.window-panel .label-close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.window-panel a:hover {
  text-decoration: none;
}
.window-panel-title {
  margin: 0;
  padding: 12px 14px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #EBEBEB;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  -webkit-text-shadow: #fff 1px 1px 1px;
  text-shadow: #fff 1px 1px 1px;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
}
.window-panel-content {
  padding: 20px 15px 15px 15px;
  font-size: 13px;
}
html,
body {
  /*padding-top: 40px;*/

  height: 100%;
}
header {
  margin-top: 60px;
}
#tagInput {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.page-header {
  margin: 0 0 20px;
}
.navbar {
  border-radius: 0 !important;
}
.jumbotron {
  color: #FFFFFF;
  background: #3d4241;
}
.message-box {
  text-align: center;
  font-weight: bold;
}
.affix-top {
  top: 100px;
}
.pagination-container {
  text-align: center;
  /*.pagination {
        margin: 10px 0;
    }*/

}
.your-profile-label {
  margin-left: 12px;
}
.site-logo {
  padding: 10px 5px;
  vertical-align: middle;
  width: 120px;
  height: auto;
}
/*validation*/
label .valid {
  width: 24px;
  height: 24px;
  background: url(images/valid.png) center center no-repeat !important;
  display: inline-block;
  text-indent: -9999px !important;
}
label .error {
  background: url(images/error.jpg) left center no-repeat;
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
  text-indent: 15px;
}
.validation-summary-errors {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
  color: #f00;
}
.validation-summary-errors > ul {
  list-style: none;
}
a.link-icon,
.link-icon-container a {
  text-decoration: none;
}
a.link-icon:hover,
.link-icon-container a:hover {
  cursor: pointer;
}
.map {
  width: 100%;
  min-height: 320px;
}
.map-overlay-for-demo {
  border-radius: 5px;
  opacity: 0.5;
  background: #808080;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  text-align: center;
  color: #FFFFFF;
}
