.profile-picture {
    max-width: 15%;
    margin: 0 10px 10px 0;
}

.organization-detail .profile-area h3,
.profile-area h4,
.profile-area h5 {
    margin-top: 0;
}

.profile-container {
    min-width: 85%;
}

@media (min-width: 700px) {
}

@media (min-width: 1000px) {
}
.placeholder {
    padding: 15px
}
/*.tab-pane > .post {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/
