html, body {
    height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -170px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 150px; /* .push must be the same height as .footer */
	margin-top: 20px;
}