@using ESRGC.DLLR.EARN.Helpers
@model ESRGC.DLLR.EARN.Domain.Model.Profile

@{
    ViewBag.Title = "Profile";
    ViewBag.Header = "Profile";
}

@section header{
    <div class="container">
        <header class="page-header">
            <h3>@ViewBag.Header <i class="icon-large icon-briefcase"></i></h3>
            @*<ul class="breadcrumb">
                <li><a href="@Url.Action("index", "Home")">Home</a></li>
                <li class="active">@ViewBag.Header</li>
            </ul>*@
        </header>
    </div>
}

<div class="container">
   
</div>
